.king {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;

  .choosedCard {
    position: relative;
    width: 35%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 8px 3px rgba(152, 152, 152, 0.444);
    background-color: rgb(232, 232, 232);

    .productImgContainer {
      width: 23%;

      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    .productInfo {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      width: calc(100% - 23%);
      justify-content: space-between;

      .productPrice {
        align-self: flex-start;
      }
    }

    .productCountContainer {
      position: absolute;
      top: 3px;
      right: 3px;
    }
  }
}
