.king {
  width: 23%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;

  .imgContainer {
    position: relative;

    img {
      width: 100%;
    }
    .rightArrowCont {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20%;
      color: rgba(0, 0, 0, 0.411);
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.299);
        font-size: 1.7rem;
        color: rgba(0, 0, 0, 0.811);
      }
    }
    .leftArrowCont {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 20%;
      color: rgba(0, 0, 0, 0.411);
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.299);
        font-size: 1.7rem;
        color: rgba(0, 0, 0, 0.811);
      }
    }
  }

  .btnContainer {
    display: flex;
    justify-content: center;

    button {
      border: 0;
      width: 150px;
      height: 30px;
      border-radius: 10px;
      background-color: rgb(1, 126, 1);
      color: white;
    }
  }
}
