.king {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;

  li {
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: white;
      text-decoration: none;
      padding: 5px;

      &:hover {
        border-bottom: 2px solid;
        margin-bottom: -1px;
      }
      &:active {
        color: rgba(255, 255, 255, 0.77);
      }
    }

    .focused {
      border-bottom: 1px solid;
      margin-bottom: -1px;
    }
  }
}
