.king {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;

  li {
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: white;
      text-decoration: none;
      padding: 5px;

      &:hover {
        border-bottom: 2px solid;
        margin-bottom: -1px;
      }
      &:active {
        color: rgba(255, 255, 255, 0.77);
      }
    }
  }

  .basketItemContainer {
    margin-left: auto;
    position: relative;
    font-size: 1.2em;
    padding: 8px;

    .basketItemsCount {
      font-size: 0.8em;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      color: rgb(255, 255, 255);
      border: 1px solid red;
      background-color: red;
      border-radius: 30%;
      padding: 0px 3px;
    }
  }
}
