.king {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(61, 65, 83);
  position: sticky;
  top: 0;
  z-index: 999;
  color: white;
  font-size: 0.9em;
  user-select: none;
}
